<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeUpdate</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Try to Force Refresh All Widgets</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Refresh Widgets</string>
			<key>UIApplicationShortcutItemType</key>
			<string>RefreshWidgets</string>
		</dict>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Transfer Data to Nearby Devices</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_schooltool._tcp</string>
		<string>_schooltool._udp</string>
	</array>
</dict>
</plist>
